<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <img src= "http://wrenchrover.com/wp-content/uploads/2016/06/WrenchRoverLogo-510x97.png" />
    <h2><%=@user.user_name %>, welcome to WrenchRover!</h2>
    <p>
      Thank you for taking the time to check out our service. We are working to find you the very best deals and quality service.
    </p>
  </body>
</html>
